/* @import url('https://fonts.googleapis.com/css2?family=Jersey+10&family=Metamorphous&family=Press+Start+2P&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');
 */
@import url('https://fonts.googleapis.com/css2?family=Silkscreen:wght@400;700&display=swap');
@import 'tailwindcss';
@plugin 'daisyui';

@plugin 'daisyui/theme' {
	name: 'light';
	default: true;
	prefersdark: false;
	color-scheme: 'light';
	--color-base-100: oklch(100% 0 0);
	--color-base-200: oklch(98% 0 0);
	--color-base-300: oklch(95% 0 0);
	--color-base-content: oklch(21% 0.006 285.885);

	--color-primary: oklch(65% 0.241 354.308);
	--color-primary-content: oklch(94% 0.028 342.258);
	--color-secondary: oklch(76% 0.188 70.08);
	--color-secondary-content: oklch(96% 0.059 95.617);
	--color-accent: oklch(58% 0.158 241.966);
	--color-accent-content: oklch(95% 0.026 236.824);
	--color-neutral: oklch(24.731% 0.02 264.094);
	--color-neutral-content: oklch(82.901% 0.031 222.959);
	--color-info: oklch(71% 0.143 215.221);
	--color-info-content: oklch(95% 0.045 203.388);
	--color-success: oklch(69% 0.17 162.48);
	--color-success-content: oklch(95% 0.052 163.051);
	--color-warning: oklch(86.163% 0.142 94.818);
	--color-warning-content: oklch(17.232% 0.028 94.818);
	--color-error: oklch(64% 0.246 16.439);
	--color-error-content: oklch(96% 0.015 12.422);
	--radius-selector: 1rem;
	--radius-field: 0.25rem;
	--radius-box: 1rem;
	--size-selector: 0.25rem;
	--size-field: 0.25rem;
	--size-selector: 0.25rem;
	--size-field: 0.25rem;
	--border: 1px;
	--depth: 0;
	--noise: 0;
}

@import './assets/css/reboot.css';
/* @import './assets/css/gameboy.css'; */
@import './assets/css/base.css';
@import './assets/css/layout.css';
